[user]
	name = Felix Chen
  email = felixchen531@gmail.com
[core]
	filemode = false
[tag]
	forcesignannotated = true
[color]
	ui = auto
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
