binds {
    Mod+W repeat=false { close-window; }
    Mod+M { quit; }

    Mod+Slash repeat=false { spawn "alacritty"; }
    Mod+Return repeat=false { spawn "fuzzel"; }

    Mod+Left { focus-column-left; }
    Mod+Down { focus-window-or-workspace-down; }
    Mod+Up { focus-window-or-workspace-up; }
    Mod+Right { focus-column-right; }

    Mod+Shift+Left { move-column-left; }
    Mod+Shift+Down { move-window-down; }
    Mod+Shift+Up { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    // The following binds move the focused window in and out of a column.
    // If the window is alone, they will consume it into the nearby column to the side.
    // If the window is already in a column, they will expel it out.
    Mod+BracketLeft { consume-or-expel-window-left; }
    Mod+BracketRight { consume-or-expel-window-right; }

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+0 { focus-workspace 10; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }
    Mod+Shift+0 { move-column-to-workspace 10; }

    Mod+R { switch-preset-column-width; }
    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+Tab repeat=false { toggle-overview; }
    Mod+C { center-column; }
    Mod+Shift+C { expand-column-to-available-width; }
    Mod+V { toggle-window-floating; }
    Mod+F { maximize-column; }
    Mod+Shift+F { fullscreen-window; }

    XF86Launch3 { spawn-sh "swayosd-client --playerctl play-pause"; }
    XF86AudioRaiseVolume { spawn-sh "swayosd-client --output-volume +2 --max-volume 200"; }
    XF86AudioLowerVolume { spawn-sh "swayosd-client --output-volume -2"; }
    XF86AudioMute { spawn-sh "swayosd-client --output-volume mute-toggle"; }
    XF86AudioMicMute { spawn-sh "swayosd-client --input-volume mute-toggle"; }
    XF86MonBrightnessUp { spawn-sh "swayosd-client --brightness +10"; }
    XF86MonBrightnessDown { spawn-sh "swayosd-client --brightness -10"; }

    Mod+Shift+S { screenshot show-pointer=false; }
    XF86Launch1 { screenshot-window write-to-disk=false; }
    Mod+XF86Launch1 { screenshot-screen write-to-disk=false; }
}
